body {
    font-family: "Josefin Sans", sans-serif;
    font-size: 15px;
}

h5, h3 {
    font-size: 20px;
}

.container {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}


.btn, input {
    font-family: "Josefin Sans", sans-serif;
    border: none;
    outline: none;
    background-color: tomato;
    padding: 10px 20px;
    color: #fff;
    font-size: 13px;
    letter-spacing: .2px;
    margin: 10px 0;
}

.btn {
    cursor: pointer;
    text-transform: uppercase;
    width: 120px;
}

.btn-black {
    background-color: black;
    text-decoration: none;
    width: 120px;
}

input {
    background-color: white;
    border: 1px solid lightgrey;
    color: black;
    padding: 5px;
    height: 30px;
    width: 300px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    font-size: 18px;
    padding: 3px 5px;
    border-left: 1px solid grey;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

li a {
    position: absolute;
    right: 0;
}

i {
    font-size: 13px;
    cursor: pointer;
}